*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.navbar {   
    display: flex;
    flex-direction: row;
    background-color:#26221F;
    height: 80px;
    justify-content: right;
    width: 100%;

}
.navbar>div{    
    height: 100%;
    margin-right: 10px;
    align-items: center;
    display: flex;
}
.navbar>div>a{
    padding: 10px;
    background-color: #55504a;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    
}
.AboutUs1{
    height: 1000px;
    background-image: url('./black-villa-harriman-state-park-new-york-reza-mohtashami-2-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: antiquewhite;
    padding-top: 100px;
    
}
.AboutUs2{
    background: #28272D;
    position: absolute;
    padding: 20px;
    width: 50%;
}
.AboutUs2 > img{
    height: 300px;
    border-radius: 999px;
    margin-bottom: 20px;
    padding: 20px;
}
}
.Title{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Cormorant Garamond', sans-serif;
    padding: 20px;
    text-align: center;
    
}
.Description{
    font-size: 15px;
    margin-top: 10px;
}
.Our-Team{
    background-color: #28272D;
}
.Our-Team>h1{
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.ourteam-container{
    background-color: #55504a;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 25%;
    background-color: #706b64;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}
.Description-title{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    
}
.Description-title > description-info{
    font-weight: 200px;
    font-size: 15px;
}
.pictureourmember{
    display: flex;
    justify-self: center;
    
}
.pictureourmember > img{
    height: 300px;
    border-radius: 999px;
    margin-bottom: 20px;
    padding: 20px;
}
