*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.Our-Team{
    background-color: #28272D;
}
.Our-Team>h1{
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.ourteam-container{
    background-color: #55504a;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 25%;
    background-color: #706b64;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}
.Description-title{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    
}
.Description-title > description-info{
    font-weight: 200px;
    font-size: 15px;
}
.pictureourmember{
    display: flex;
    justify-self: center;
    
}
.pictureourmember > img{
    height: 300px;
    border-radius: 999px;
    margin-bottom: 20px;
    padding: 20px;
}
